In [10]:
import pandas as pd
import dill
# Funcio per a llegir dades en format csv
def load_dataset(path):
    dataset = pd.read_csv(path, header=0, delimiter=',')
    return dataset
# Carreguem dataset d'exemple
dataset = load_dataset('train.csv')
dataset = dataset.fillna(value = -1)
from sklearn import preprocessing
#Codifiquem el nom dels artistes
encoder = preprocessing.LabelEncoder() 
dataset["Artist Name"]=encoder.fit_transform(dataset["Artist Name"])
#treiem columna Track Name ja que no ens es necesari
del dataset["Track Name"]
X = dataset.values[:, :14]
y = dataset.values[:, 14]
dataset.head()

,Artist Name,Popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_in min/ms,time_signature,Class
0,1182,60.0,0.854,0.564,1.0,-4.964,1,0.0485,0.017100,-1.000000,0.0849,0.8990,134.071,234596.0,4,5
1,1092,54.0,0.382,0.814,3.0,-7.230,1,0.0406,0.001100,0.004010,0.1010,0.5690,116.454,251733.0,4,10
2,7899,35.0,0.434,0.614,6.0,-8.334,1,0.0525,0.486000,0.000196,0.3940,0.7870,147.681,109667.0,4,6
3,1987,66.0,0.853,0.597,10.0,-6.528,0,0.0555,0.021200,-1.000000,0.1220,0.5690,107.033,173968.0,4,5
4,6283,53.0,0.167,0.975,2.0,-4.279,1,0.2160,0.000169,0.016100,0.1720,0.0918,199.060,229960.0,4,10

In [11]:
dill.dump_session('data.db')